@page "/appointments/{AppointmentId:guid}/result/create"
@attribute [Authorize(Roles = "Doctor")]
@inherits CancellableComponent

@if (Data != null)
{
    <EditForm Model="@Data" OnValidSubmit="CreateAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                @if (Appointment != null)
                {
                    <p>Date @Appointment.Date</p>
                    <p>Patient @Appointment.Patient.GetFullName()</p>
                    <p>Doctor @Appointment.Doctor.GetFullName()</p>
                    <p>Service @Appointment.Service.Name</p>
                }
                else
                {
                    <Loading />
                }
                <FormInputText AutoGrow Lines=3 MaxLines=5 Label="Complaints" Id="Complaints" @bind-Value="@Data.Complaints" />
                <FormInputText AutoGrow Lines=3 MaxLines=5 Label="Conclusion" Id="Conclusion" @bind-Value="@Data.Conclusion" />
                <FormInputText AutoGrow Lines=3 MaxLines=5 Label="Recomendations" Id="Recomendations" @bind-Value="@Data.Recomendations" />
            </div>
        </div>
        <InnoRow>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue="Save Changes" />
            </Left>
            <Right>
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue="Cancel"
                                 QuestionLabel="Do you really want to cancel? Changes will not be saved." />
            </Right>
        </InnoRow>
    </EditForm>
}
else
{
    <Loading />
}