@page "/appointments/{AppointmentId:guid}/result/edit"
@attribute [Authorize(Roles = "Doctor")]
@inherits CancellableComponent

@if (Data == null)
{
    <Loading />
}
else
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label=@_localizer.GetString(LocalizationType.Complaints) Id="Name" @bind-Value="@Data.Complaints" />
                <FormInputText Label=@_localizer.GetString(LocalizationType.Conclusions) Id="Name" @bind-Value="@Data.Conclusion" />
                <FormInputText Label=@_localizer.GetString(LocalizationType.Recomendations) Id="Name" @bind-Value="@Data.Recomendations" />
            </div>
        </div>
        <Row>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue=@_localizer.GetString(LocalizationType.SaveChangesButtonValue) />
            </Left>
            <Right>
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue=@_localizer.GetString(LocalizationType.DisagreeButtonValue)
                                 QuestionLabel=@_localizer.GetString(LocalizationType.DataWillNotChangesText) />
            </Right>
        </Row>
    </EditForm>
}