@page "/appointments/{AppointmentId:guid}/result/edit"
@attribute [Authorize(Roles = "Doctor")]
@inherits CancellableComponent

@if (Data == null)
{
    <Loading />
}
else
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col bg-success bg-opacity-10 p-2">
                <h2>Данные</h2>
                <FormInputText Label="Жалобы" Id="Name" @bind-Value="@Data.Complaints" />
                <FormInputText Label="Заключение" Id="Name" @bind-Value="@Data.Conclusion" />
                <FormInputText Label="Рекомендации" Id="Name" @bind-Value="@Data.Recomendations" />
            </div>
        </div>
        <div class="row">
            <div class="col m-3 w-100">
                <FormSubmitButton @ref="@SubmitButton" ButtonValue="Save Changes" />
            </div>
            <div class="col">
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue="Cancel"
                                 QuestionLabel="Do you really want to cancel? Changes will not be saved." />
            </div>
        </div>
    </EditForm>
}