@inherits CancellableComponent

@inject IResultManager ResultManager;
@inject NavigationManager NavigationManager;

@if (IsNotFound)
{
    <p>К сожалению данное назначение еще не имеет результат:(</p>
    <AuthorizeView Roles="Doctor">
        <Authorized>
            <input class="btn btn-success w-100" type="button" @onclick="@NavigateToCreateResultPage" value="Create" />
        </Authorized>
    </AuthorizeView>
}
else
{
    @if (result == null)
    {
        <Loading />
    }
    else
    {
        <div>
            <p>Complains @result.Complaints</p>
            <p>Conclusion @result.Conclusion</p>
            <p>Recomendations @result.Recomendations</p>
            <AuthorizeView Roles="Doctor">
                <Authorized>
                    <input class="btn btn-info w-100" type="button" @onclick="@NavigateToEditPage" value="Edit" />
                </Authorized>
            </AuthorizeView>
        </div>
    }
}
@code
{
    [Parameter] public Guid AppointmentId { get; set; }
    [CascadingParameter] public IModalService Modal { get; set; }
    private AppointmentResult result;
    private bool IsNotFound = false;
    protected async override Task OnInitializedAsync()
    {
        try
        {
            result = await ResultManager.GetForAppointmentAsync(AppointmentId, _cts.Token);
        }
        catch (Domain.Exceptions.NotFoundException ex)
        {
            IsNotFound = true;
        }
    }

    private void NavigateToEditPage()
    {
        var options = new ModalOptions() 
        { 
            Size = ModalSize.Large 
        };
        var parameters = new ModalParameters().Add(nameof(EditResult.AppointmentId), AppointmentId);
        Modal.Show<EditResult>("Edit result", parameters, options);
    }

    private void NavigateToCreateResultPage()
    {
        var options = new ModalOptions() 
        { 
            Size = ModalSize.Large 
        };
        var parameters = new ModalParameters().Add(nameof(CreateResult.AppointmentId), AppointmentId);
        Modal.Show<CreateResult>("Create result", parameters, options);
    }


}