@using ClientsWebApp.Domain.Exceptions
@inherits CancellableComponent

@inject IResultManager ResultManager;
@inject NavigationManager NavigationManager;

@if (IsNotFound)
{
    <AuthorizeView Roles="Patient">
        <Authorized Context="editDate">
            <p>That appointment have not resul yet:(</p>
        </Authorized>
    </AuthorizeView>
    <AuthorizeView Roles="Doctor">
        <Authorized>
            <MudButton Color="Color.Success" class="w-100" OnClick="@NavigateToEditPage">
                Create appointment result
            </MudButton>
        </Authorized>
    </AuthorizeView>
}
else
{
    @if (result == null)
    {
        <Loading />
    }
    else
    {
        <div>
            <p>Complains @result.Complaints</p>
            <p>Conclusion @result.Conclusion</p>
            <p>Recomendations @result.Recomendations</p>
            <AuthorizeView Roles="Doctor">
                <Authorized>
                    <MudButton Color="Color.Info" class="w-100" OnClick="@NavigateToEditPage">
                        Edit appointment result
                    </MudButton>
                </Authorized>
            </AuthorizeView>
        </div>
    }
}
