@inherits CancellableComponent
@inject IDoctorManager DoctorManager
@attribute [Authorize(Roles = "Doctor,Admin")]

<div class="col m-3">
    @if (IsLoading)
    {
        <Loading />
    }
    else
    {
        @if (IsDateChanges)
        {
            <EditForm Model="@Data" OnValidSubmit="ChangeAsync" class="form">
                <FormInputSelect @bind-Value="@Data.Status" Label=@_localizer.GetString(LocalizationType.Status) Id="status"
                         Values="@Statuses" GetLabelHandler="@(x => x)" GetValueHandler="@(x => x)" />
                <input type="submit" class="btn btn-success w-100" value=@_localizer.GetString(LocalizationType.EditButtonValue) />
                <input type="button" class="btn btn-danger w-100" value=@_localizer.GetString(LocalizationType.CancelButtonValue) @onclick="@StopChanging" />
            </EditForm>
        }
        else
        {
            <button type="button" class="btn-primary w-100" @onclick="StartChanging" >
                <span class="oi oi-pencil" aria-hidden="true"></span>@_localizer.GetString(LocalizationType.EditStatusButtonValue)
            </button>
        }
    }
</div>


