@inherits CancellableComponent
@inject IDoctorManager DoctorManager
@attribute [Authorize(Roles = "Doctor,Admin")]

<div class="col m-3">
    @if (IsLoading)
    {
        <Loading />
    }
    else
    {
        @if (IsDateChanges)
        {
            <EditForm Model="@Data" OnValidSubmit="ChangeAsync" class="form">
                <FormInputSelect @bind-Value="@Data.Status" Label=@_localizer.GetString(LocalizationType.Status) Id="status"
                         Values="@Statuses" GetLabelHandler="@(x => x)" GetValueHandler="@(x => x)" />
                <MudButton Color="Color.Success" ButtonType=ButtonType.Submit class="w-100 m-1">
                    @_localizer.GetString(LocalizationType.EditButtonValue)
                </MudButton>
                <MudButton Color="Color.Error" class="w-100 m-1" OnClick="StopChanging">
                    @_localizer.GetString(LocalizationType.CancelButtonValue)
                </MudButton>
            </EditForm>
        }
        else
        {
            <MudButton Color=Color.Primary class="w-100" @onclick="StartChanging">
                <MudIcon Icon="@Icons.Material.Filled.Edit" />
                <span class="ml-2">
                    @_localizer.GetString(LocalizationType.EditStatusButtonValue)
                </span>
            </MudButton>
        }
    }
</div>


