@page "/doctors/create"
@inherits CancellableComponent
@attribute [Authorize(Roles = "Doctor")]

<div>
    <p class="text-danger">@ErrorMessage</p>
</div>
@if (Data == null)
{
    <Loading />
}
else
{
    <EditForm Model="@Data" OnValidSubmit="CreateAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label="FirstName" Id="firstName" @bind-Value="@Data.FirstName" />
                <FormInputText Label="LastName" Id="lastName" @bind-Value="@Data.LastName" />
                <FormInputText Label="MiddleName" Id="middleName" @bind-Value="@Data.MiddleName" />
                <FormInputNumber Label="Career start year" Id="careerStartYear" @bind-Value="@Data.CareerStartYear" />
                <FormInputSelect Label="Office" Id="office" @bind-Value="Data.OfficeId" Values="Offices" GetLabelHandler="@(x => x.Address)" GetValueHandler="@(x => x.Id)" />
                <FormInputSelect Label="Specialization" Id="specialization" @bind-Value="Data.Specialization" Values="Specializations" GetLabelHandler="@(x => x.Name)" GetValueHandler="@(x => x.Name)" />
                <FormInputDate Label="BirthDay" Id="birthDay" @bind-Value="@Data.BirthDay" />
                <SelectImage Title="Picture" @bind-Value="@Data.Picture" />
            </div>
        </div>
        <FormSubmitButton @ref="@SubmitButton" ButtonValue="Sign in" />
    </EditForm>
}