@page "/doctors/home"
@inherits CancellableComponent
@attribute [Authorize(Roles = "Doctor")]
@if (!IsLoading)
{
    <div class="container p-5">
        <DoctorCard Doctor="@Doctor">
            <div class="col">
                <MudButton Color="Color.Info" class="w-100 m-1" OnClick="NavigateToEditPage">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    <span class="ml-2">
                        Edit profile info
                    </span>
                </MudButton>
                @*             <ChangeDoctorStatus Doctor="@Doctor" OnStatusChanged="@Reload" /> *@
                <MudButton Color="Color.Info" class="w-100 m-1" OnClick="NavigateToSchedulePage">
                    <MudIcon Icon="@Icons.Material.Filled.Schedule" />
                    <span class="ml-2">
                        Schedule
                    </span>
                </MudButton>
            </div>
        </DoctorCard>
    </div>
    <div class="container p-5 text-center">
        <MudText Typo="Typo.h6">Appointments schedule</MudText>

        @if (Appointments != null)
        {
            @foreach (var appointment in Appointments)
            {
                <AppointmentCard Appointment="appointment" />
            }
        }
        else
        {
            <Loading />
        }

    </div>
}
else
{
    <Loading />
}