@inject NavigationManager NavigationManager

<MudPaper Square Elevation=3 Class="row p-5 mb-3">
    @if (Doctor != null)
    {
        if (Doctor.Info.Photo != null)
        {
            <div class="col">
                @if (_image != null)
                {
                    <ImageFromByteArray Image="_image.Content" ImageType="_image.ContentType" IsSvgImage="false" height="200" />
                }
                else
                {
                    <Loading />
                }
            </div>
        }
        <div class="col">
            <p>Full name: @Doctor.Info.GetFullName() @Doctor.Status</p>
            <p>Specialization: @Doctor.Specialization</p>
            <p>Experience: @Doctor.Experience</p>
            <p>
                Office:
                @if (Doctor.Office != null)
                {
                    @Doctor.Office.Address
                }
                else
                {
                    <span>Have not office</span>
                }
            </p>
            @if (IsIncludeDetailsButton)
            {
                <MudButton Color="Color.Info" Variant=Variant.Filled Class="w-100" OnClick="ToDoctorInfoPage">
                    <MudIcon Icon="@Icons.Material.Filled.People" />
                    <span class="ml-2">
                        Details
                    </span>
                </MudButton>
            }
        </div>
        @if (ChildContent != null)
        {
            @ChildContent
        }
    }
</MudPaper>


@code {
    [Parameter] public DoctorDTO Doctor { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool IsIncludeDetailsButton { get; set; } = false;
    private Image? _image;
    protected async override Task OnInitializedAsync()
    {
        _image = Doctor.Info.Photo != null ? await Doctor.Info.Photo : null;
    }
    private void ToDoctorInfoPage()
    {
        NavigationManager.NavigateTo($"/doctors/{Doctor.Id}");
    }
}
