@page "/doctors/edit"
@attribute [Authorize(Roles = "Doctor")]
@inherits CancellableComponent


@if (Data == null)
{
    <Loading />
}
else
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label="FirstName" Id="firstName" @bind-Value="@Data.FirstName" />
                <FormInputText Label="LastName" Id="lastName" @bind-Value="@Data.LastName" />
                <FormInputText Label="MiddleName" Id="middleName" @bind-Value="@Data.MiddleName" />
                <FormInputNumber Label="Career start year" Id="careerStartYear" @bind-Value="@Data.CareerStartYear" />
            </div>
            <div class="col p-2">
                <FormInputSelect Label="Office" Id="office" @bind-Value="Data.OfficeId" Values="Offices"
                             GetLabelHandler="@(x => x.Address)" GetValueHandler="@(x => x.Id)" />
                <FormInputSelect Label="Specialization" Id="specialization" @bind-Value="Data.Specialization"
                             Values="Specializations" GetLabelHandler="@(x => x.Name)" GetValueHandler="@(x => x.Name)" />
                <FormInputDate Label="BirthDay" Id="birthDay" @bind-Value="@Data.BirthDay" />
                <SelectImage Title="Photo" @bind-Value="@Data.Picture" SelectedImageData="@OldDoctor.Info.Photo.Content" />
            </div>
        </div>
        <Row>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue="Save Changes" />
            </Left>
            <Right>
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue="Cancel"
                                 QuestionLabel="Do you really want to cancel? Changes will not be saved." />
            </Right>
        </Row>
    </EditForm>
}