@page "/receptionists/create"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent


<div>
    <p class="text-danger">@ErrorMessage</p>
</div>

<EditForm Model="@Data" OnValidSubmit="CreateAsync" class="form">
    <FluentValidationValidator DisableAssemblyScanning=true />
    <ValidationSummary />
    <div class="row">
        <div class="col bg-success bg-opacity-10 p-2">
            <h2>Данные</h2>
            <FormInputText Label="Имя" Id="firstName" @bind-Value="@Data.FirstName" />
            <FormInputText Label="Фамилия" Id="lastName" @bind-Value="@Data.LastName" />
            <FormInputText Label="Отчество" Id="middleName" @bind-Value="@Data.MiddleName" />
            <FormInputSelect Label="Офис" Id="office" @bind-Value="Data.OfficeId" Values="Offices" GetLabelHandler="@(x => x.Address)" GetValueHandler="@(x => x.Id)" />
            <FormInputDate Label="День рождения" Id="birthDay" @bind-Value="@Data.BirthDay" />
            <SelectImage Title="Аватарка" @bind-Value="@Data.Picture" />
        </div>
    </div>
    <input class="btn btn-primary" type="submit" />
</EditForm>
