@page "/receptionists/edit"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent

<div>
    <p class="text-danger">@ErrorMessage</p>
</div>
@if (Data != null)
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label="Имя" Id="firstName" @bind-Value="@Data.FirstName" />
                <FormInputText Label="Фамилия" Id="lastName" @bind-Value="@Data.LastName" />
                <FormInputText Label="Отчество" Id="middleName" @bind-Value="@Data.MiddleName" />
                <FormInputSelect Label="Офис" Id="office" @bind-Value="Data.OfficeId" Values="Offices"
                             GetLabelHandler="@(x => x.Address)" GetValueHandler="@(x => x.Id)" />
                <FormInputDate Label="День рождения" Id="birthDay" @bind-Value="@Data.BirthDay" />
                <SelectImage Title="Аватарка" @bind-Value="@Data.Picture" SelectedImageData="@OldReceptionist.Info.Photo.Content" />
            </div>
        </div>
        <div class="row">
            <div class="col m-3 w-100">
                <FormSubmitButton @ref="@SubmitButton" ButtonValue="Save Changes" />
            </div>
            <div class="col">
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue="Cancel"
                                 QuestionLabel="Do you really want to cancel? Changes will not be saved." />
            </div>
        </div>
    </EditForm>
}
else
{
    <Loading />
}