@page "/register"
@inherits CancellableComponent
<div>
    <p class="text-danger">@ErrorMessage</p>
</div>
<EditForm Model="@Data" OnValidSubmit="RegisterAsync" class="form">
    <FluentValidationValidator DisableAssemblyScanning=@true />
    <ValidationSummary />
    <div class="row">
        <FormInputText Label=@_localizer.GetString(LocalizationType.Email) Id="email" @bind-Value="@Data.Email" />
        <FormInputText Label=@_localizer.GetString(LocalizationType.Password) Id="password" type="password" @bind-Value="@Data.Password" />
            <FormInputText Label=@_localizer.GetString(LocalizationType.RePassword) Id="rePassword" type="password" @bind-Value="@Data.RePassword" />
    </div>
    <FormSubmitButton @ref="@SubmitButton" ButtonValue=@_localizer.GetString(LocalizationType.SignUpTitle) />
</EditForm>