@using Blazored.Modal
@using ClientsWebApp.Pages.Components
@using ClientsWebApp.Pages.Shared;
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
﻿<CascadingAuthenticationState>
    <CascadingBlazoredModal Position="ModalPosition.Middle" HideCloseButton="@true">
        <Router AppAssembly="@typeof(App).Assembly">

            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <RedirectToLogin />
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>

        </Router>
    </CascadingBlazoredModal>
</CascadingAuthenticationState>

