@inherits InputSelect<bool?>

<div class="form-group mb-1">
    @if (Label != null)
    {
        <label for="@Id" class="form-label">@Label</label>
    }
    <InputSelect class="form-select" id="@Id" @bind-Value="CurrentValue" @attributes=AdditionalAttributes>
        @if (Values != null)
        {
            @foreach (var value in Values)
            {
                <option value="@value.Value">@value.Key</option>
            }
        }
        else
        {
            <Loading />
        }
    </InputSelect>
</div>

@code
{
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; } = "defaultId";

    [Parameter] public IDictionary<string, bool?> Values { get; set; }

    protected override void OnInitialized()
    {
        if (Values == null)
        {
            Values = new Dictionary<string, bool?>()
            {
                {"True", true},
                {"False", false},
                {"All", null }
            };
        }
        base.OnInitialized();
    }
}