@typeparam TListValue
@typeparam TBindValue
@inherits InputSelect<TBindValue>

<div class="form-group">
    @if (Label != null)
    {
        <label for="@Id" class="form-label">@Label</label>
    }
    <InputSelect class="form-select" id="@Id" @bind-Value="CurrentValue" @attributes=AdditionalAttributes>
        @if(HasDefaultOption)
        {
            <option value="@DefaultValue">@DefaultValueLabel</option>
        }
        @if (Values != null)
        {
            @foreach (var value in Values)
            {
                <option value="@GetValueHandler(value)">@GetLabelHandler(value)</option>
            }
        }
        else
        {
            <Loading />
        }
    </InputSelect>
</div>

@code
{
    [Parameter] public IEnumerable<TListValue> Values { get; set; } = new List<TListValue>();
    [Parameter] public Func<TListValue, object> GetValueHandler { get; set; }
    [Parameter] public Func<TListValue, object> GetLabelHandler { get; set; }
    [Parameter] public bool HasDefaultOption { get; set; } = false;
    [Parameter] public string DefaultValueLabel {get;set;} = "Default";
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; } = "defaultId";

    private TBindValue? DefaultValue => default(TBindValue);
}