@typeparam TListValue
@typeparam TBindValue
@inherits InputSelect<TBindValue>

<div class="form-group mb-3">
    <MudSelect id="@Id" Label="@Label" T="TBindValue" @bind-Value="CurrentValue" @attributes=AdditionalAttributes>
        @if(HasDefaultOption)
        {
            <MudSelectItem T="TBindValue" Value="@DefaultValue" D>@DefaultValueLabel</MudSelectItem>
        }
        @if (Values != null)
        {
            @foreach (var value in Values)
            {
                <MudSelectItem T="TBindValue" Value="@GetValueHandler(value)">@GetLabelHandler(value)</MudSelectItem>
            }
        }
        else
        {
            <Loading />
        }
    </MudSelect>
</div>

@code
{
    [Parameter] public IEnumerable<TListValue> Values { get; set; } = new List<TListValue>();
    [Parameter] public Func<TListValue, TBindValue> GetValueHandler { get; set; }
    [Parameter] public Func<TListValue, object> GetLabelHandler { get; set; }
    [Parameter] public bool HasDefaultOption { get; set; } = false;
    [Parameter] public string DefaultValueLabel {get;set;} = "Default";
    [Parameter] public string Label { get; set; }
    [Parameter] public string Id { get; set; } = "defaultId";

    private TBindValue? DefaultValue => default(TBindValue);
}