@inherits CancellableComponent
@inject NavigationManager NavigationManager

<MudPaper Square Elevation=3 Class="row p-5 mb-3">
    @if (Appointment != null)
    {
        <div class="col">
            <div class="row">
                <div class="col">
                    <MudText Class="mb-3">@Appointment.Service.Name</MudText>
                    <AuthorizeView Roles="Admin,Patient">
                        <Authorized Context="editDate">
                            <MudButton Disabled=!Appointment.IsApproved Color=Color.Primary Variant=Variant.Filled Class="w-100" @onclick="@NavigateToDoctorPage">
                                @Appointment.Doctor.GetFullName()
                            </MudButton>
                        </Authorized>
                    </AuthorizeView>

                    <AuthorizeView Roles="Patient">
                        <NotAuthorized Context="editDate">
                            <MudButton Color=Color.Success Variant=Variant.Filled Class="w-100" Disabled=!Appointment.IsApproved @onclick="@NavigateToPatientPage">
                                @Appointment.Patient.GetFullName()
                            </MudButton>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
                <div class="col">
                    <MudText Typo="Typo.h4"> <DisplayDate Date=@Appointment.Date.ToDateTime(TimeOnly.MinValue)/></MudText>
                    <MudText Typo="Typo.h5">@Appointment.Time.ToString("HH:mm") - @Appointment.Time.AddMinutes(service?.Category?.TimeSlotSize ?? 0).ToString("HH:mm")</MudText>
                </div>
            </div>
        </div>
        <div class="col">
            @if (Appointment.IsApproved && !_hasResult)
            {
                <MudButton Variant=Variant.Filled Color=Color.Success Class="mb-3 w-100" Href=@($"/conference/prepare?Channel={Appointment.Id}")>
                    <MudIcon Icon="@Icons.Material.Filled.Camera" />
                    <span class="ml-2">
                        @_localizer.GetString(LocalizationType.GoToVideoRoom)
                    </span>
                </MudButton>
            }
            <AuthorizeView Roles="Admin,Doctor">
                <Authorized Context="editDate">
                    @if (service != null && !Appointment.IsApproved)
                    {
                        <ChangeAppointmentDate Category="service.Category" Appointment="Appointment" OnDateChanged="Update" />
                    }
                    <div class="row">
                        @if (!Appointment.IsApproved)
                        {
                            <ApproveAppointment AppointmentId="Appointment.Id" OnAppointmentApproved="Update" />
                        }
                    </div>
                </Authorized>
            </AuthorizeView>
            <div class="col">
                <AuthorizeView Roles="Patient">
                    <Authorized Context="editDate">
                        @if (!Appointment.IsApproved)
                        {
                            <p>@_localizer.GetString(LocalizationType.AppointmentNotApprovedText)</p>
                        }
                    </Authorized>
                </AuthorizeView>
                @if (Appointment.IsApproved)
                {
                    <ResultInfo AppointmentId="@Appointment.Id" OnResultAvailable="ResultAvailable" HideEditButton=@(Appointment.Date.ToDateTime(Appointment.Time).AddHours(3) < DateTime.UtcNow) />
                }
            </div>
            @if (ChildContent != null)
            {
                @ChildContent
            }
        </div>
    }
</MudPaper>


