@page "/appointments/create"
@inherits CancellableComponent
@attribute [Authorize(Roles = "Patient")]
<div>
    <p class="text-danger">@ErrorMessage</p>
</div>
@if (Data == null)
{
    <Loading />
}
else
{

    <EditForm Model="@Data" OnValidSubmit="CreateAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                @if (IsDateTimeSelection)
                {
                    <TimeSlots Category="@GetCategory(Data.Category)" DoctorId="@Data.DoctorId"
                        OnTimeSlotSelected="@TimeSlotSelected" />
                }
                else
                {
                    <FormInputSelect HasDefaultOption="@true" DefaultValueLabel="Nothing" Label="Office" Id="office"
                    @bind-Value="Data.OfficeId" Values="Offices" GetLabelHandler="@(x => x.Address)"
                        GetValueHandler="@(x => x.Id)" @oninput="OfficeWasSelected" />

                    <FormInputSelect HasDefaultOption="@true" DefaultValueLabel="Nothing" Label="Specialization"
                        Id="specialization" @bind-Value="Data.Specialization" Values="Specializations"
                        GetLabelHandler="@(x => x.Name)" GetValueHandler="@(x => x.Name)"
                    @oninput="SpecializationWasSelected" />

                    <FormInputSelect HasDefaultOption="@true" DefaultValueLabel="Nothing" Label="Doctor" Id="doctors"
                    @bind-Value="Data.DoctorId" Values="Doctors" GetLabelHandler="@(x => x.Info.GetFullName())"
                        GetValueHandler="@(x => x.Id)" @oninput="DoctorWasSelected" />

                    <FormInputSelect Label="Category" Id="doctors"
                    @bind-Value="Data.Category" Values="Categories" GetLabelHandler="@(x => x)" GetValueHandler="@(x => x)"
                    @oninput="CategoryWasSelected" />

                    <FormInputSelect HasDefaultOption="@true" DefaultValueLabel="Nothing" Label="Service" Id="doctors"
                    @bind-Value="Data.ServiceId" Values="Services" GetLabelHandler="@(x => x.Name)"
                        GetValueHandler="@(x => x.Id)" />
                }
            </div>
        </div>
        @if (IsDateTimeSelection)
        {
            <InnoRow>
                <Left>
                    <input type="button" class="btn btn-info m-3" value="Back to value" @onclick="@StopSelectDateAndTime" />
                </Left>
                <Right>
                    <FormSubmitButton @ref="@SubmitButton" ButtonValue="Create Appointment" />
                </Right>
            </InnoRow>
        }
        else
        {
            if(Data.ServiceId != default && Data.DoctorId != default)
            {
                <input type="button" class="btn btn-info m-3" value="Select date and time" @onclick="@StartSelectDateAndTime" />
            }
            else
            {
                <input type="button" class="btn btn-info m-3 disabled" value="Select date and time" />
            }
        }
    </EditForm>
}