@page "/doctors/{DoctorId:guid}/schedule"
@inherits CancellableComponent
@attribute [Authorize(Roles = "Doctor")]


<div class="row">
    <div class="col-sm-3">
        <EditForm Model="FiltrationModel" OnSubmit="AppointmentsUpdateAsync">
            <div class="container">
                <div class="col ">
                    <FormInputDate Label=@_localizer.GetString(LocalizationType.Date) Id="firstName" @bind-Value="FiltrationModel.Date" />
                </div>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue=@_localizer.GetString(LocalizationType.SearchButtonValue) />
            </div>
        </EditForm>
    </div>
    <div class="col-sm">
        @if (Appointments != null)
        {
            <PageSwitcher OnNextPageClicked="@SetNextPage" OnPreviousPageClicked="@SetPreviousPage"
                      GetStatus="@GetPageStatus" />
            @foreach (var appointment in Appointments)
            {
                <AppointmentCard Appointment="appointment" OnDataUpdated="AppointmentsUpdateAsync">
                        @if (appointment.IsApproved)
                        {
                            <ResultInfo AppointmentId="@appointment.Id" />
                        }
                </AppointmentCard>
            }
        }
        else
        {
            <Loading />
        }
    </div>

</div>
