@inherits CancellableComponent

<EditForm Model="@Data" class="form">
    <div class="row">
        <div class="col p-2">
            <FormInputDate min="@DateTime.Now.ToString("yyyy-MM-dd")"
                            max="@DateTime.Now.AddDays(15).ToString("yyyy-MM-dd")" 
                            Label="Дата" Id="Date" 
                            @bind-Value="@Data.Date"
                            @oninput="@DateWasSelected" />
        </div>
    </div>
</EditForm>

<table class="table text-center">
    <tbody>
        @if (isTableReloading)
        {
            <Loading />
        }
        else
        {
            @for (int j = 0; j < 60; j += 10)
            {
                <tr>
                    @for (int i = 12; i < 18; i++)
                    {
                        var value = $"{i}:{j:00}";
                        TimeOnly time = new TimeOnly(i, j);
                        if (DateTime.Now >= Data.Date.ToDateTime(time))
                        {
                            <td>
                                <input type="button" class="w-100 btn btn-info disabled" value="@value" />
                            </td>
                        }
                        else if (Data.StartTime <= time && Data.EndTime >= time && !Times[time])
                        {

                            <td>
                                <input type="button" class="w-100 btn btn-danger" value="@value" />
                            </td>
                            Data.StartTime = default;
                            Data.EndTime = default;
                        }
                        else if (Data.StartTime <= time && Data.EndTime >= time && Times[time])
                        {
                            <td>
                                <input type="button" class="w-100 btn btn-success" @onclick="@(() => SelectTimeSlot(time))"
                                    value="@value" />
                            </td>
                        }
                        else if (Times[time])
                        {
                            <td>
                                <input type="button" class="w-100 btn btn-info" @onclick="@(() => SelectTimeSlot(time))"
                                    value="@value" />
                            </td>
                        }
                        else
                        {
                            <td>
                                <input type="button" class="w-100 btn btn-danger" value="@value" />
                            </td>
                        }
                    }
                </tr>
            }

        }
    </tbody>
</table>

