@page "/specializations/create"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent

<div>
    <p class="text-danger"> @ErrorMessage</p>
</div>
<EditForm Model="@Data" OnValidSubmit="CreateAsync" class="form">
    <FluentValidationValidator DisableAssemblyScanning=true />
    <ValidationSummary />
    <div class="row">
        <div class="col p-2">
            
            <FormInputText Label=@_localizer.GetString(LocalizationType.Name) Id="firstName" @bind-Value="@Data.Name" />
            <FormInputCheckBox Label=@_localizer.GetString(LocalizationType.Status) Id="lastName" @bind-Value="@Data.IsActive" />
        </div>
        <div class="col p-2">
            <label>@_localizer.GetString(LocalizationType.ServicesTab)</label>
            <input type="button" class="btn btn-success w-100 mb-3" value=@_localizer.GetString(LocalizationType.CreateServiceButtonValue) @onclick="@StartCreateService" />
            <div class="row">
                @foreach (var service in Services)
                {
                    <div class="col">
                        <CreateServiceModelCard Service="@service" />
                    </div>
                    <div class="col-1 m-3">
                        <input type="button" class="btn btn-danger" value="-" @onclick="@(()=>RemoveService(service))" />
                    </div>
                }
            </div>
        </div>
    </div>
        <InnoRow>
            <Left>
            <FormSubmitButton @ref="@SubmitButton" ButtonValue=@_localizer.GetString(LocalizationType.SaveChangesButtonValue) />
            </Left>
            <Right>
            <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue=@_localizer.GetString(LocalizationType.DisagreeButtonValue)
                                 AgreeButtonValue="@_localizer.GetString(LocalizationType.AgreeButtonValue)" DisagreeButtonValue="@_localizer.GetString(LocalizationType.DisagreeButtonValue)"
                                 QuestionLabel=@_localizer.GetString(LocalizationType.DataWillNotChangesText) />
            </Right>
        </InnoRow>
</EditForm>