@inject IStringLocalizer<Localization> _localizer;

<div class="row mb-3 align-items-center border">
    <div class="col">
        <p>@_localizer.GetString(LocalizationType.Name): @Service.Name</p>
        <p>@_localizer.GetString(LocalizationType.Price): @Service.Price</p>
    </div>
    <div class="col">
        <p>@_localizer.GetString(LocalizationType.Category): @Service.CategoryName</p>
        <p>@_localizer.GetString(LocalizationType.Status): @Service.Status</p>
    </div>
</div>
@code {
    [Parameter] public CreateServiceData Service { get; set; }
}
