@page "/specializations/create"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent

<div>
    <p class="text-danger"> @ErrorMessage</p>
</div>
<EditForm Model="@Data" OnValidSubmit="CreateAsync" class="form">
    <FluentValidationValidator DisableAssemblyScanning=true />
    <ValidationSummary />
    <div class="row">
        <div class="col p-2">
            
            <FormInputText Label="Specialization name" Id="firstName" @bind-Value="@Data.Name" />
            <FormInputCheckBox Label="Active" Id="lastName" @bind-Value="@Data.IsActive" />
        </div>
        <div class="col p-2">
            <label>Services</label>
            <input type="button" class="btn btn-success w-100 mb-3" value="Create a service" @onclick="@StartCreateService" />
            <div class="row">
                @foreach (var service in Services)
                {
                    <div class="col">
                        <CreateServiceModelCard Service="@service" />
                    </div>
                    <div class="col-1 m-3">
                        <input type="button" class="btn btn-danger" value="-" @onclick="@(()=>RemoveService(service))" />
                    </div>
                }
            </div>
        </div>
    </div>
        <Row>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue="Save Changes" />
            </Left>
            <Right>
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue="Cancel"
                                 QuestionLabel="Do you really want to cancel? Changes will not be saved." />
            </Right>
        </Row>
</EditForm>