@page "/specializations/{SpecializationId:guid}/edit"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent

<div>
    <p class="text-danger"> @ErrorMessage</p>
</div>
@if (Data != null)
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label="Cpecialization name" Id="firstName" @bind-Value="@Data.Name" />
                <FormInputCheckBox Label="Active" Id="lastName" @bind-Value="@Data.IsActive" />
            </div>
            <div class="col p-2">
                <h2>Services</h2>
                @if (IsManagerCreating)
                {
                    <CreateService SpecializationId="default" OnModelCreated="@StopCreateService" />
                }
                else
                {
                    <input type="button" value="Create a service" @onclick="@StartCreateService" />
                }

                @foreach (var service in Services)
                {
                    <ServiceCard Service="@service" />
                }
                @foreach (var service in AddedServices)
                {
                    <div class="row">
                        <div class="col">
                            <CreateServiceModelCard Service="@service" />
                        </div>
                        <div class="col-1 m-3">
                            <input type="button" class="btn btn-danger" value="-" @onclick="@(()=>RemoveService(service))" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <Row>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue="Save Changes" />
            </Left>
            <Right>
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue="Cancel"
                                 QuestionLabel="Do you really want to cancel? Changes will not be saved." />
            </Right>
        </Row>
    </EditForm>
}