@page "/specializations/{SpecializationId:guid}/edit"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent

<div>
    <p class="text-danger"> @ErrorMessage</p>
</div>
@if (Data != null)
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label=@_localizer.GetString(LocalizationType.Name) Id="firstName" @bind-Value="@Data.Name" />
                <FormInputCheckBox Label=@_localizer.GetString(LocalizationType.Status) Id="lastName" @bind-Value="@Data.IsActive" />
            </div>
            <div class="col p-2">


                <h2>
                    @_localizer.GetString(LocalizationType.ServicesTab)
                    @if (!IsManagerCreating)
                    {
                        <MudButton Color=Color.Primary Variant=Variant.Filled OnClick="@StartCreateService">
                            @_localizer.GetString(LocalizationType.CreateServiceButtonValue)
                        </MudButton>
                    }
                    else
                    {
                        <MudButton Color=Color.Error Variant=Variant.Filled OnClick="@StopCreateService">
                            @_localizer.GetString(LocalizationType.ServicesTab)
                        </MudButton>
                    }
                </h2>

                @if (IsManagerCreating)
                {
                    <CreateService SpecializationId="default" OnModelCreated="@ServiceCreated" />
                }

                @foreach (var service in Services)
                {
                    <ServiceCard Service="@service" HideSpecialization/>
                }
                @foreach (var service in AddedServices)
                {
                    <div class="row">
                        <div class="col">
                            <CreateServiceModelCard Service="@service" />
                        </div>
                        <div class="col-1 d-flex justify-content-center mb-3 ml-2">
                            <MudIconButton Color="Color.Error" Variant=Variant.Filled Icon="@Icons.Material.Filled.Delete" OnClick="@(()=>RemoveService(service))" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <InnoRow>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue=@_localizer.GetString(LocalizationType.SaveChangesButtonValue) />
            </Left>
            <Right>
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue=@_localizer.GetString(LocalizationType.DisagreeButtonValue)
                                     AgreeButtonValue="@_localizer.GetString(LocalizationType.AgreeButtonValue)" DisagreeButtonValue="@_localizer.GetString(LocalizationType.DisagreeButtonValue)"
                                     QuestionLabel=@_localizer.GetString(LocalizationType.DataWillNotChangesText) />
            </Right>
        </InnoRow>
    </EditForm>
}