@page "/offices/create"
@inherits CancellableComponent

<div>
    <p class="text-danger">@ErrorMessage</p>
</div>
<EditForm Model="@Data" OnValidSubmit="CreateAsync" class="form">
    <FluentValidationValidator DisableAssemblyScanning=true />
    <ValidationSummary />
    <div class="row">
        <div class="col bg-success bg-opacity-10 p-2">
            <h2>Данные</h2>
            <FormInputText Label="Город" Id="city" @bind-Value="@Data.City" />
            <FormInputText Label="Улица" Id="street" @bind-Value="@Data.Street" />
            <FormInputNumber Label="Номер дома" Id="houseNumber" @bind-Value="@Data.HouseNumber" />
            <FormInputNumber Label="Номер офиса" Id="officeNumber" @bind-Value="@Data.OfficeNumber" />
            <FormInputText Label="Номер телефона" Id="phoneNumber" @bind-Value="@Data.PhoneNumber" />
            <FormInputCheckBox Label="Статус" Id="status" @bind-Value="@Data.Status" />
            <SelectImage Title="Фото" @bind-Value="@Data.Picture" />
        </div>
    </div>
    <input class="btn btn-primary" type="submit" />
</EditForm>