@page "/offices/create"
@inherits CancellableComponent
@attribute [Authorize(Roles = "Admin")]

<div>
    <p class="text-danger">@ErrorMessage</p>
</div>
<EditForm Model="@Data" OnValidSubmit="CreateAsync" class="form">
    <FluentValidationValidator DisableAssemblyScanning=true />
    <ValidationSummary />
    <div class="row">
        <div class="col p-2">
            <FormInputText Label="Город" Id="city" @bind-Value="@Data.City" />
            <FormInputText Label="Улица" Id="street" @bind-Value="@Data.Street" />
            <FormInputNumber Label="Номер дома" Id="houseNumber" @bind-Value="@Data.HouseNumber" />
            <FormInputNumber Label="Номер офиса" Id="officeNumber" @bind-Value="@Data.OfficeNumber" />
            <FormInputText Label="Номер телефона" Id="phoneNumber" @bind-Value="@Data.PhoneNumber" />
            <FormInputCheckBox Label="Статус" Id="status" @bind-Value="@Data.Status" />
            <SelectImage Title="Фото" @bind-Value="@Data.Picture" />
        </div>
    </div>
    <div class="row">
        <div class="col m-3 w-100">
            <FormSubmitButton @ref="@SubmitButton" ButtonValue="Save Changes" />
        </div>
        <div class="col">
            <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue="Cancel"
                                 QuestionLabel="Do you really want to cancel? Changes will not be saved." />
        </div>
    </div>
</EditForm>