@page "/offices/{officeId:guid}/edit"
@inherits CancellableComponent
@attribute [Authorize(Roles = "Admin")]
<div>
    <p class="text-danger">@ErrorMessage</p>
</div>
@if (Data != null)
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label=@_localizer.GetString(LocalizationType.City) Id="city" @bind-Value="@Data.City" />
                <FormInputText Label=@_localizer.GetString(LocalizationType.Street) Id="street" @bind-Value="@Data.Street" />
                <FormInputNumber Label=@_localizer.GetString(LocalizationType.HouseNumber) Id="houseNumber" @bind-Value="@Data.HouseNumber" />
                <FormInputNumber Label=@_localizer.GetString(LocalizationType.OfficeNumber) Id="officeNumber" @bind-Value="@Data.OfficeNumber" />
            </div>
            <div class="col p-2">
                <FormInputText Label=@_localizer.GetString(LocalizationType.PhoneNumber) Id="phoneNumber" @bind-Value="@Data.PhoneNumber" />
                <FormInputCheckBox Label=@_localizer.GetString(LocalizationType.Status) Id="status" @bind-Value="@Data.Status" />
                <SelectImage Title=@_localizer.GetString(LocalizationType.Photo) @bind-Value="@Data.Picture" SelectedImageData="_image?.Content" />
            </div>
        </div>
        <InnoRow>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue=@_localizer.GetString(LocalizationType.SaveChangesButtonValue) />
            </Left>
            <Right>
                <div class="col">
                    <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue=@_localizer.GetString(LocalizationType.DisagreeButtonValue)
                                     QuestionLabel=@_localizer.GetString(LocalizationType.DataWillNotChangesText) />
                </div>
            </Right>
        </InnoRow>
    </EditForm>
}
else
{
    <Loading />
}