@inject NavigationManager navigationManager
@inherits CancellableComponent

<MudPaper Square Elevation=3 Class="row p-3 mb-3 clickable" @onclick="NavigateToInfoPage">
    @if (Office != null)
    {
        <div class="col">
            <div>@_localizer.GetString(LocalizationType.Address): @Office.Address</div>
            @_localizer.GetString(LocalizationType.Status): <input type="checkbox" checked="@Office.Status" class="disabled" />
        </div>
        <div class="col">
            <div>@_localizer.GetString(LocalizationType.OfficeNumber): @Office.OfficeNumber</div>
            <div>@_localizer.GetString(LocalizationType.PhoneNumber): @Office.PhoneNumber</div>
        </div>
        @if (ChildContent != null)
        {
            @ChildContent
        }

    }
</MudPaper>


@code {
    [Parameter] public Office Office { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }

    private void NavigateToInfoPage()
    {
        navigationManager.NavigateTo($"/offices/{Office.Id}");
    }
}

