@page "/patients/edit"
@attribute [Authorize(Roles = "Patient")]
@inherits CancellableComponent

<div>
    <p class="text-danger">@ErrorMessage</p>
</div>
@if (Data != null)
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label=@_localizer.GetString(LocalizationType.FirstName) Id="firstName" @bind-Value="@Data.FirstName" />
                <FormInputText Label=@_localizer.GetString(LocalizationType.LastName) Id="lastName" @bind-Value="@Data.LastName" />
                <FormInputText Label=@_localizer.GetString(LocalizationType.MiddleName) Id="middleName" @bind-Value="@Data.MiddleName" />
            </div>
            <div class="col p-2">
                <FormInputText Label=@_localizer.GetString(LocalizationType.PhoneNumber) Id="phoneNumber" @bind-Value="@Data.PhoneNumber" />
                <FormInputDate Label=@_localizer.GetString(LocalizationType.BirthDay) Id="birthDay" @bind-Value="@Data.BirthDay" />
                <SelectImage Title=@_localizer.GetString(LocalizationType.Photo) @bind-Value="@Data.Picture" SelectedImageData="@_image?.Content" />
            </div>
        </div>
        <Row>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue=@_localizer.GetString(LocalizationType.SaveChangesButtonValue) />
            </Left>
            <Right>
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue=@_localizer.GetString(LocalizationType.DisagreeButtonValue)
                                 QuestionLabel=@_localizer.GetString(LocalizationType.DataWillNotChangesText) />
            </Right>
        </Row>
    </EditForm>
}
else
{
    <Loading />
}