@page "/patients"
@inherits CancellableComponent

<div class="row">
    <div class="col-sm-3">
        <EditForm Model="FiltrationModel" OnValidSubmit="PatientsUpdateAsync">
            <div class="container">
                <div class="col ">
                    <FormInputText Label=@_localizer.GetString(LocalizationType.FirstName) Id="firstName" @bind-Value="FiltrationModel.FirstName" />
                    <FormInputText Label=@_localizer.GetString(LocalizationType.LastName) Id="lastName" @bind-Value="FiltrationModel.LastName" />
                    <FormInputText Label=@_localizer.GetString(LocalizationType.MiddleName) Id="middleName" @bind-Value="FiltrationModel.MiddleName" />
                </div>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue=@_localizer.GetString(LocalizationType.SearchButtonValue) />
            </div>
        </EditForm>
    </div>
    <div class="col-sm">
        @if (Patients != null)
        {
            <PageSwitcher OnNextPageClicked="@SetNextPage" OnPreviousPageClicked="@SetPreviousPage"
                      GetStatus="@GetPageStatus" />
            @foreach (var patient in Patients)
            {
                <PatientCard Patient="patient">
                    <ChangeRole Email="@patient.Info.Email" OnRoleChanged="PatientsUpdateAsync" />
                </PatientCard>
            }
        }
        else
        {
            <Loading />
        }
    </div>

</div>
