@page "/patients/home"
@using ClientsWebApp.Shared.Patient.Models
@attribute [Authorize(Roles = "Patient")]
@inherits CancellableComponent

@if (Patient != null)
{
    <div class="container p-5">
        <PatientCard Patient="@Patient">
            <div class="col">
                <MudButton Color="Color.Info" Variant=Variant.Filled Class="w-100" OnClick="NavigateToEditPage">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    <span class="ml-2">
                        @_localizer.GetString(LocalizationType.EditButtonValue)
                    </span>
                </MudButton>
                <MudButton Color="Color.Error" Variant=Variant.Filled Class="w-100" OnClick="NavigateToDeletePage">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    <span class="ml-2">
                        @_localizer.GetString(LocalizationType.DeleteButtonValue)
                    </span>
                </MudButton>
            </div>
        </PatientCard>
    </div>
    <div>
        @if (PatientPersonalInfo is not null)
        {
            <MudTabs Position=Position.Left Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                <MudTabPanel Text="Сводная информация о пациенте">
                    <div>
                        <MudText>Content One</MudText>
                        <MudText Typo="Typo.h6">@_localizer.GetString(LocalizationType.Schedule)</MudText>
                        @if (Appointments != null)
                        {
                            @foreach (var appointment in Appointments)
                            {
                                <AppointmentCard Appointment="appointment" />
                            }

                            @if (Appointments.Count() >= Page.Size)
                            {
                                <MudButton Color="Color.Info" @onclick="NavigateToHistoryPage">@_localizer.GetString(LocalizationType.ViewHistoryButtonText)</MudButton>
                            }
                        }
                        else
                        {
                            <Loading />
                        }
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="Владелец документов">
                    <div>
                        <MudText>
                            Раздел содержит сведения об организации
                            здравоохранения (далее – ОЗ), которая создала ЭМД по каждому законченному случаю
                            заболевания (обращения), в том числе наименование и реквизиты ОЗ, сведения
                            о ее руководителе;
                        </MudText>
                    </div>
                </MudTabPanel>
                <MudTabPanel Text="Персональные данные пациента">
                    <div>

                        <MudText>
                            Раздел предназначен для внесения
                            и хранения персональных данных пациента (фамилия, собственное имя, отчество
                            (если таковое имеется), идентификационный номер, дата рождения, возраст, пол, сведения
                            о документах, удостоверяющих личность пациента, сведения о месте жительства
                            и (или) месте пребывания), его контактных данных, а также сведений о договоре
                            медицинского страхования (при его наличии). Раздел состоит из подраздела
                            «Представитель пациента», который включает информацию об уполномоченных
                            пациентом лицах или лицах, указанных в части второй статьи 18 Закона Республики
                            Беларусь «О здравоохранении». До определения персональных данных новорожденного
                            в подраздел «Представитель пациента» вносятся сведения о матери новорожденного
                            или ином представителе новорожденного;
                            @if (PatientPersonalInfo.Representer is not null)
                            {
                                <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                                    <MudTabPanel Text="Представитель пациента">
                                        <MudDataGrid Items=@(new List<HumanInfo>(){PatientPersonalInfo.Representer})>
                                            <Columns>
                                                <PropertyColumn Property="x => x.Email" />
                                                <PropertyColumn Property="x => x.FirstName" />
                                                <PropertyColumn Property="x => x.LastName" />
                                                <PropertyColumn Property="x => x.MiddleName" />
                                                <DateTimeColumn Property="x => x.BirthDay" />
                                            </Columns>
                                        </MudDataGrid>
                                    </MudTabPanel>
                                </MudTabs>
                            }
                        </MudText>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Медицинские данные о пациенте">
                    <div>

                        <MudText>
                            Раздел и его подразделы
                            формируются при рождении или первом обращении пациента в ОЗ и его регистрации
                            в ЦИСЗ. Внесенные сведения хранятся в ЭМК и дополняются на протяжении жизни
                            пациента. Раздел состоит из следующих подразделов:
                        </MudText>
                        <MudTabs Elevation="2" Position=Position.Left Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                            <MudTabPanel Text="Семейный анамнез">
                                <div>

                                    <MudText>
                                        Подраздел содержит информацию о семейном
                                        положении, сведениях о родословной пациента: о наследственных и перенесенных
                                        заболеваниях, факторах риска возникновения заболевания и иную необходимую
                                        информацию;
                                    </MudText>

                                    <AddInfoButton OnClick="AddHereditaryIllness" Text="Добавить наследственные заболевание" />
                                    <MudDataGrid Bordered ReadOnly=false EditMode=DataGridEditMode.Cell Items=PatientPersonalInfo.PatientMedicalInfo.FamilyInfo.HereditaryIllnesses>
                                        <Columns>
                                            <PropertyColumn Property="x => x.Name" />
                                            <DateTimeColumn Property="x => x.RegistrationDate" />
                                            <PropertyColumn Property="x => x.DoctorId" />
                                        </Columns>
                                    </MudDataGrid>

                                    <AddInfoButton OnClick="AddPastIllness" Text="Добавить  заболевание" />
                                    <MudDataGrid Bordered ReadOnly=false EditMode=DataGridEditMode.Cell Items=PatientPersonalInfo.PatientMedicalInfo.FamilyInfo.PastIllnesses>
                                        <Columns>
                                            <PropertyColumn Property="x => x.Name" />
                                            <DateTimeColumn Property="x => x.RegistrationDate" />
                                            <PropertyColumn Property="x => x.DoctorId" />
                                        </Columns>
                                    </MudDataGrid>

                                    <AddInfoButton OnClick="AddRiskFactors" Text="Добавить  фактор риска" />
                                    <MudDataGrid Bordered ReadOnly=false EditMode=DataGridEditMode.Cell Items=PatientPersonalInfo.PatientMedicalInfo.FamilyInfo.RiskFactors>
                                        <Columns>
                                            <PropertyColumn Property="x => x.Name" />
                                        </Columns>
                                    </MudDataGrid>
                                </div>

                            </MudTabPanel>
                            <MudTabPanel Text="Анамнез жизни">
                                <div>

                                    <MudText>
                                        Подраздел содержит информацию, отражающую
                                        особенности организма пациента, условия его жизни, труда и иную необходимую
                                        информацию;

                                    </MudText>
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddBodyFeature">
                                        Добавить особенность тела
                                    </MudButton>
                                    <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.LifeInfo.BodyFeatures>
                                        <Columns>
                                            <PropertyColumn Property="x => x.Name" />
                                        </Columns>
                                    </MudDataGrid>
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddLifeCondition">
                                        Добавить условие жизни
                                    </MudButton>
                                    <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.LifeInfo.LifeConditions>
                                        <Columns>
                                            <PropertyColumn Property="x => x.Name" />
                                        </Columns>
                                    </MudDataGrid>
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddWorkCondition">
                                        Добавить условие работы
                                    </MudButton>
                                    <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.LifeInfo.WorkConditions>
                                        <Columns>
                                            <PropertyColumn Property="x => x.Name" />
                                        </Columns>
                                    </MudDataGrid>
                                </div>

                            </MudTabPanel>
                            <MudTabPanel Text="Аллергологический анамнез и лекарственная непереносимость">
                                <div>

                                    <MudText>
                                        Подраздел содержит информацию об аллергических заболеваниях пациента,
                                        нежелательных реакциях его организма с указанием их причины и даты регистрации.
                                        Подраздел содержит информацию о лекарственных препаратах (за исключением
                                        иммунобиологических лекарственных препаратов), вызвавших нежелательную,
                                        в том числе аллергическую, реакцию у пациента, ее клинических проявлениях, дате
                                        регистрации такой реакции;
                                    </MudText>
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddAllergicIllness">
                                        Добавить алергическое заболевание
                                    </MudButton>
                                    <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.HealthInfo.AllergicIllnesses>
                                        <Columns>
                                            <PropertyColumn Property="x => x.Name" />
                                            <DateTimeColumn Property="x => x.RegistrationDate" />
                                            <PropertyColumn Property="x => x.DoctorId" />
                                        </Columns>
                                    </MudDataGrid>
                                </div>

                            </MudTabPanel>
                            <MudTabPanel Text="Реакция на иммунобиологические лекарственные препараты">
                                <div>

                                    <MudText>
                                        Подраздел содержит информацию об иммунобиологических лекарственных препаратах,
                                        вызвавших нежелательную, в том числе аллергическую, реакцию у пациента,
                                        ее клинических проявлениях, дате регистрации;
                                    </MudText>
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddMedicalReaction">
                                        Добавить лекарственный препорат
                                    </MudButton>
                                    <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.HealthInfo.MedicalReactions>
                                        <Columns>

                                            <PropertyColumn Property="x => x.MedicalName" />
                                            <DateTimeColumn Property="x => x.Date" />
                                            <PropertyColumn Property="x => x.ReactionDescription" />
                                        </Columns>
                                    </MudDataGrid>
                                </div>

                            </MudTabPanel>
                            <MudTabPanel Text="Трансфузиологический анамнез">
                                <div>

                                    <MudText>
                                        Подраздел содержит
                                        информацию о группе крови, резус-факторе, переливаниях крови, ее компонентов;
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.PhysicInfo.BloodType
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.PhysicInfo.RhFactor
                                    </MudText>
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddBloodTransfer">
                                        Добавить переливание крови
                                    </MudButton>
                                    <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.PhysicInfo.BloodTransfers>
                                        <Columns>
                                            <PropertyColumn Property="x => x.BloodType" />
                                            <PropertyColumn Property="x => x.Amount" />
                                            <DateTimeColumn Property="x => x.Date" />
                                        </Columns>
                                    </MudDataGrid>
                                </div>

                            </MudTabPanel>
                            <MudTabPanel Text="Акушерско-гинекологический анамнез (для женщин)">
                                <div>

                                    <MudText>
                                        Подраздел
                                        содержит информацию об акушерско-гинекологическом анамнезе: менструальном цикле
                                        (время появления первых менструаций, их установления, продолжительность,
                                        интенсивность, болезненность, дата последней менструации), беременности и родах,
                                        их течении, абортах и их осложнениях, выкидышах, мертворождениях, времени
                                        наступления климактерического периода и его течении;
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.WomanHealthInfo.FirstMenstruationDate
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.WomanHealthInfo.LastMenstruationDate
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.WomanHealthInfo.MenstruationPeriodInDays
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.WomanHealthInfo.MenstuationIntensivity
                                    </MudText>
                                    <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddPregnancy">
                                        Добавить беременность
                                    </MudButton>
                                    <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.WomanHealthInfo.Pregnancies>
                                        <Columns>
                                            <PropertyColumn Property="x => x.DiscoveryDate" />
                                            <DateTimeColumn Property="x => x.EndDate" />
                                            <PropertyColumn Property="x => x.Result" />
                                        </Columns>
                                    </MudDataGrid>
                                </div>

                            </MudTabPanel>
                            <MudTabPanel Text="Метрические данные">
                                <div>

                                    <MudText>
                                        Подраздел содержит информацию
                                        о пациенте: его росте, весе, артериальном давлении, пульсе, температуре тела и прочем;
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.MetricInfo.Height
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.MetricInfo.Weight
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.MetricInfo.NormalLowerPressure
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.MetricInfo.NormalHigherPressure
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.MetricInfo.NormalPulse
                                    </MudText>
                                    <MudText>
                                        @PatientPersonalInfo.PatientMedicalInfo.MetricInfo.NormalTemperature
                                    </MudText>
                                </div>

                            </MudTabPanel>
                        </MudTabs>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Профилактические прививки">
                    <div>

                        <MudText>
                            Раздел содержит информацию обо всех
                            проведенных пациенту профилактических прививках. Раздел формируется на основании
                            данных ОЗ по каждому случаю проведения профилактической прививки;
                        </MudText>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddPreventiveVactination">
                            Добавить прививку
                        </MudButton>
                        <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.PreventiveVaccinations>
                            <Columns>
                                <PropertyColumn Property="x => x.Medicament" />
                                <DateTimeColumn Property="x => x.Date" />
                            </Columns>
                        </MudDataGrid>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Заключительные (уточненные) диагнозы">
                    <div>

                        <MudText>
                            Раздел содержит
                            информацию о перенесенных пациентом заболеваниях и их осложнениях, посещениях
                            пациента, их периодичности, результатах медицинских осмотров;
                        </MudText>
                        @*                 <MudText Typo="Typo.h6">@_localizer.GetString(LocalizationType.Schedule)</MudText>
                @if (Appointments != null)
                {
                @foreach (var appointment in Appointments)
                {
                <AppointmentCard Appointment="appointment" />
                }

                @if (Appointments.Count() >= Page.Size)
                {
                <MudButton Color="Color.Info" @onclick="NavigateToHistoryPage">@_localizer.GetString(LocalizationType.ViewHistoryButtonText)</MudButton>
                }
                }
                else
                {
                <Loading />
                } *@
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Лабораторные исследования">
                    <div>

                        <MudText>
                            Раздел содержит подробную
                            информацию о проведенных лабораторных исследованиях и их результатах;
                        </MudText>
                        @*                     <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.PreventiveVaccinations>
                <Columns>
                <PropertyColumn Property="x => x.Medicament" />
                <PropertyColumn Property="x => x.Date" />
                </Columns>
                </MudDataGrid> *@
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Лучевые и радиологические исследования">
                    <div>

                        <MudText>
                            Раздел содержит
                            подробную информацию о проведенных лучевых и радиологических исследованиях
                            пациента и их результатах, в том числе графические результаты (изображения, снимки);
                        </MudText>
                        <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddRadiationTherapies">
                            Добавить исследование
                        </MudButton>
                        <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.MedicalSupport.RadiationTherapies>
                            <Columns>
                                <PropertyColumn Property="x => x.Name" />
                            </Columns>
                        </MudDataGrid>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Функциональные исследования">
                    <div>

                        <MudText>
                            Раздел содержит подробную
                            информацию о проведенных функциональных исследованиях пациента и их результатах,
                            в том числе графические результаты (изображения, снимки);
                        </MudText>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Оперативные вмешательства">
                    <div>

                        <MudText>
                            Раздел формируется на основании
                            данных ОЗ по каждому случаю оперативного вмешательства пациента и содержит
                            информацию обо всех перенесенных пациентом оперативных вмешательствах;
                        </MudText>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Лекарственное обеспечение и обеспечение изделиями медицинского назначения">
                    <div>

                        <MudText>
                            Раздел содержит информацию о назначениях лекарственных препаратов
                            врачом-специалистом (врачебным консилиумом) и обеспечении пациента
                            лекарственными препаратами и медицинскими изделиями. Раздел состоит из следующих
                            подразделов:
                        </MudText>
                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                            <MudTabPanel Text="Рецептурное льготное обеспечение">
                                <MudText>
                                    Подраздел содержит
                                    информацию об оформленных электронных рецептах врача на лекарственные препараты
                                    и медицинские изделия для пациента льготного, в том числе бесплатного, обеспечения,
                                    а также сведения об ОЗ и враче-специалисте, оформившем электронный рецепт врача
                                    на лекарственный препарат, сведения о лекарственном препарате (международное
                                    непатентованное наименование или групповое наименование, в случае их отсутствия –
                                    торговое наименование, форма выпуска), дозе, выписанной по электронному рецепту
                                    врача, сведения об электронном рецепте врача (серия, номер, дата выписки), стоимости
                                    отпущенного лекарственного препарата по электронному рецепту врача;

                                </MudText>
                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddRecipeMedicals">
                                    Добавить лекарственный препорат
                                </MudButton>
                                <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.MedicalSupport.RecipeMedicals>
                                    <Columns>
                                        <PropertyColumn Property="x => x.Name" />
                                        <PropertyColumn Property="x => x.Dosage" />
                                        <PropertyColumn Property="x => x.DosageMetric" />
                                        <PropertyColumn Property="x => x.Price" />
                                        <PropertyColumn Property="x => x.IsPreferential" />
                                        <PropertyColumn Property="x => x.RecipeInfo.Serie" />
                                        <PropertyColumn Property="x => x.RecipeInfo.Number" />
                                        <DateTimeColumn Property="x => x.RecipeInfo.Date" />
                                    </Columns>
                                </MudDataGrid>
                            </MudTabPanel>

                            <MudTabPanel Text="Рецептурное нельготное обеспечение">
                                <MudText>
                                    Подраздел содержит
                                    информацию об оформленных электронных рецептах врача на лекарственные препараты
                                    и медицинские изделия для пациента, в том числе сведения об ОЗ и враче-специалисте,
                                    оформившем электронный рецепт врача на лекарственный препарат, сведения
                                    о лекарственном препарате (международное непатентованное наименование
                                    или групповое наименование, а в случае их отсутствия торговое наименование, форма
                                    выпуска), дозе, выписанной по электронному рецепту врача, сведения об электронном
                                    рецепте врача (серия, номер, дата выписки), стоимости отпущенного лекарственного
                                    препарата по рецепту врача;

                                </MudText>
                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddRecipeMedicals">
                                    Добавить лекарственный препорат
                                </MudButton>
                                <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.MedicalSupport.RecipeMedicals>
                                    <Columns>
                                        <PropertyColumn Property="x => x.Name" />
                                        <PropertyColumn Property="x => x.Dosage" />
                                        <PropertyColumn Property="x => x.DosageMetric" />
                                        <PropertyColumn Property="x => x.Price" />
                                        <PropertyColumn Property="x => x.IsPreferential" />
                                        <PropertyColumn Property="x => x.RecipeInfo.Serie" />
                                        <PropertyColumn Property="x => x.RecipeInfo.Number" />
                                        <DateTimeColumn Property="x => x.RecipeInfo.Date" />
                                    </Columns>
                                </MudDataGrid>
                            </MudTabPanel>
                            <MudTabPanel Text="Безрецептурные назначения">
                                <MudText>
                                    Подраздел содержит информацию
                                    о безрецептурных назначениях (лекарственные препараты и медицинские изделия) врачаспециалиста (врачебного консилиума) с указанием наименования назначения, дозы
                                    и формы выпуска (при наличии), кратности и длительности применения;
                                </MudText>
                                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="AddNoRecipeMedicals">
                                    Добавить лекарственный препорат
                                </MudButton>
                                <MudDataGrid Items=PatientPersonalInfo.PatientMedicalInfo.MedicalSupport.NoRecipeMedicals>
                                    <Columns>
                                        <PropertyColumn Property="x => x.Name" />
                                        <PropertyColumn Property="x => x.Dosage" />
                                        <PropertyColumn Property="x => x.DosageMetric" />
                                    </Columns>
                                </MudDataGrid>
                            </MudTabPanel>
                        </MudTabs>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Немедикаментозное лечение">
                    <div>

                        <MudText>
                            Раздел содержит подробную
                            информацию о назначении пациенту немедикаментозного лечения. Раздел состоит
                            из следующих подразделов:
                        </MudText>
                        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
                            <MudTabPanel Text="Физиотерапевтическое лечение">
                                <MudText>
                                    Подраздел включает
                                    информацию о назначенном врачом-специалистом физиотерапевтическом лечении
                                    с указанием наименования физиотерапевтической процедуры, ее количества, дозировки
                                    (при наличии) и продолжительности, а также других данных;
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Лечебная физкультура и массаж">
                                <MudText>
                                    Подраздел включает
                                    информацию о назначенных врачом-специалистом лечебной физкультуре и массаже;
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Нетрадиционные методы лечения">
                                <MudText>
                                    Подраздел включает
                                    информацию о назначенных врачом-специалистом нетрадиционных методах лечения;
                                </MudText>
                            </MudTabPanel>
                            <MudTabPanel Text="Лучевая терапия">
                                <MudText>
                                    Подраздел включает информацию
                                    о назначенной врачом-специалистом лучевой терапии;
                                </MudText>
                            </MudTabPanel>
                        </MudTabs>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Диспансеризация">
                    <div>

                        <MudText>
                            Раздел содержит сведения о:
                            дате взятия на диспансерное наблюдение;
                            диагнозе, по которому пациент взят на диспансерное наблюдение;
                            дате, когда впервые установлен диагноз;
                            группе диспансерного наблюдения (группе здоровья);
                            дате изменения группы диспансерного наблюдения (группы здоровья);
                            датах последнего и последующего осмотра;
                            дате и причинах снятия с диспансерного наблюдения.
                            В разделе также отражаются индивидуальный план прохождения диспансеризации
                            пациентом, отметки о выполнении мероприятий данного плана, иная информация
                            об эффективности проводимого диспансерного наблюдения;
                        </MudText>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Временная нетрудоспособность">
                    <div>

                        <MudText>
                            Раздел содержит информацию
                            о выданных пациенту листках нетрудоспособности (справках о временной
                            нетрудоспособности): реквизиты документа, вид нетрудоспособности, диагноз,
                            послуживший основанием для выдачи листка нетрудоспособности (справки о временной
                            нетрудоспособности), продолжительность временной нетрудоспособности, кем выдан
                            листок нетрудоспособности (справка о временной нетрудоспособности);
                        </MudText>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Инвалидность">
                    <div>

                        <MudText>
                            Раздел содержит сведения обо всех случаях медикосоциальной экспертизы, проведенных медико-реабилитационной экспертной комиссией,
                            и их результатах;

                        </MudText>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Регистры">
                    <div>

                        <MudText>
                            Раздел содержит информацию о включении пациента
                            в регистры в здравоохранении, внесении изменений и исключении пациента из регистров;
                        </MudText>
                    </div>

                </MudTabPanel>
                <MudTabPanel Text="Согласия, отказы, информирование пациента">
                    <div>

                        <MudText>
                            Раздел содержит
                            информацию о даче пациентом или иными лицами в случаях и порядке, установленных
                            законодательными актами, согласия на оказание медицинской помощи лицу,
                            подвергаемому клиническому испытанию, – на участие в клиническом испытании.
                        </MudText>
                    </div>

                </MudTabPanel>
            </MudTabs>
        }
    </div>
}
else
{
    <Loading />
}