@page "/patients/home"
@using ClientsWebApp.Shared.Patient.Models
@attribute [Authorize(Roles = "Patient")]
@inherits CancellableComponent

@if (Patient != null)
{
    <div class="container p-5">
        <PatientCard Patient="@Patient">
            <div class="col">
                <MudButton Color="Color.Info" Variant=Variant.Filled Class="w-100" OnClick="NavigateToEditPage">
                    <MudIcon Icon="@Icons.Material.Filled.Edit" />
                    <span class="ml-2">
                        @_localizer.GetString(LocalizationType.EditButtonValue)
                    </span>
                </MudButton>
                <MudButton Color="Color.Error" Variant=Variant.Filled Class="w-100" OnClick="NavigateToDeletePage">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" />
                    <span class="ml-2">
                        @_localizer.GetString(LocalizationType.DeleteButtonValue)
                    </span>
                </MudButton>
            </div>
        </PatientCard>
    </div>
}
else
{
    <Loading />
}