@using ClientsWebApp.Blazor.Components.Identity
@inject NavigationManager Navigation
@inject IStringLocalizer<Localization> Loc

<AuthorizeView>
    <Authorized>
        @Loc.GetString(LocalizationType.Greeting)
        <a href="/logout">Sign out</a>
    </Authorized>
    <NotAuthorized>

        <MudButton Color="Color.Primary" @onclick="OpenLoginModal">@Loc.GetString(LocalizationType.SignInTitle)</MudButton>
        <MudButton Color="Color.Primary" @onclick="OpenRegisterModal">@Loc.GetString(LocalizationType.SignUpTitle)</MudButton>
    </NotAuthorized>
</AuthorizeView>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }

    private void OpenLoginModal()
    {
        var options = new ModalOptions()
            {
                HideCloseButton = false,
                DisableBackgroundCancel = false
            };
        Modal.Show<LoginForm>(@Loc.GetString(LocalizationType.SignInTitle), options);
    }

    private void OpenRegisterModal()
    {
        var options = new ModalOptions()
            {
                HideCloseButton = false,
                DisableBackgroundCancel = false
            };
        Modal.Show<Register>(@Loc.GetString(LocalizationType.SignUpTitle), options);
    }
}

