
<MudPaper Width=@(collapseNavMenu? "50px" : "250px") Height="100vh" Class="pt-2" Elevation="0">
    @if (!collapseNavMenu)
    {
        <div class="d-flex justify-content-between mud-width-full">

            <MudText Typo="Typo.h6" Class="px-4">Innoclinic </MudText>

            <div style="width:50px">
                <MudNavLink OnClick="ToggleNavMenu" Icon="@Icons.Material.Filled.Menu" />
            </div>
        </div>
    }
    else
    {
        <MudNavLink OnClick="ToggleNavMenu" Icon="@Icons.Material.Filled.Menu" />
    }
    <MudDivider Class="my-2" DividerType="DividerType.FullWidth" />
    <MudNavMenu Class="mud-width-full" Color="Color.Primary">
        <MudNavLink Href="/" Icon="@Icons.Material.Filled.Home">@GetLinkName(Loc.GetString(LocalizationType.HomeTab))</MudNavLink>
        <AuthorizeView Roles="Patient">
            <Authorized>
                <MudNavLink Icon="@Icons.Material.Filled.DocumentScanner" OnClick="OpenCreateAppointmentModal">@GetLinkName(@Loc.GetString(LocalizationType.CreateAppointmentTab))</MudNavLink>
            </Authorized>
        </AuthorizeView>
        <MudNavLink Href="/doctors" Icon="@Icons.Material.Filled.People">@GetLinkName(@Loc.GetString(LocalizationType.DoctorsTab))</MudNavLink>
        <AuthorizeView Roles="Admin">
            <Authorized>
                <MudNavLink Href="/services" Icon="@Icons.Material.Filled.MedicalServices">@GetLinkName(Loc.GetString(LocalizationType.ServicesTab))</MudNavLink>
                <MudNavLink Href="/receptionists" Icon="@Icons.Material.Filled.People">@GetLinkName(Loc.GetString(LocalizationType.ReceptionistsTab))</MudNavLink>
                <MudNavLink Href="/patients" Icon="@Icons.Material.Filled.People">@GetLinkName(Loc.GetString(LocalizationType.PatientsTab))</MudNavLink>
                <MudNavLink Href="/appointments" Icon="@Icons.Material.Filled.List">@GetLinkName(Loc.GetString(LocalizationType.AppointmentsTab))</MudNavLink>
                <MudNavLink Href="/offices" Icon="@Icons.Material.Filled.LocalPostOffice">@GetLinkName(Loc.GetString(LocalizationType.OfficesTab))</MudNavLink>
                <MudNavLink Href="/specializations" Icon="@Icons.Material.Filled.List">@GetLinkName(Loc.GetString(LocalizationType.SpecializationsTab))</MudNavLink>
            </Authorized>
        </AuthorizeView>
    </MudNavMenu>
</MudPaper>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void OpenCreateAppointmentModal()
    {
        var options = new ModalOptions()
            {
                Size = ModalSize.Large,
                HideCloseButton = false
            };
        Modal.Show<CreateAppointment>(Loc.GetString(LocalizationType.CreateAppointmentTab).Value, options);
    }

    private void OpenRegisterModal()
    {
        Modal.Show<Register>("Sign up");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        StateHasChanged();
    }

    private string GetLinkName(string name)
    {
        if (collapseNavMenu)
        {
            return "";
        }
        return name;
    }
}

<style>
    .menu {
        padding-right: 0px !important;
    }
</style>
