@inject IStringLocalizer<Localization> Loc
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Innoclinic</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> @Loc.GetString(LocalizationType.HomeTab)
            </NavLink>
        </div>

        <AuthorizeView Roles="Patient">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="OpenCreateAppointmentModal" Match="NavLinkMatch.All">
                        <span class="oi oi-clipboard" aria-hidden="true"></span> @Loc.GetString(LocalizationType.CreateAppointmentTab)
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/services">
                <span class="oi oi-list" aria-hidden="true"></span> @Loc.GetString(LocalizationType.ServicesTab)
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doctors">
                <span class="oi oi-people" aria-hidden="true"></span> @Loc.GetString(LocalizationType.DoctorsTab)
            </NavLink>
        </div>


        <AuthorizeView Roles="Admin">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="receptionists">
                        <span class="oi oi-people" aria-hidden="true"></span> @Loc.GetString(LocalizationType.ReceptionistsTab)
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="patients">
                        <span class="oi oi-people" aria-hidden="true"></span> @Loc.GetString(LocalizationType.PatientsTab)
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="appointments">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @Loc.GetString(LocalizationType.AppointmentsTab)
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="offices">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @Loc.GetString(LocalizationType.OfficesTab)
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/specializations">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> @Loc.GetString(LocalizationType.SpecializationsTab)
                    </NavLink>
                </div>

            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    [CascadingParameter] public IModalService Modal { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void OpenCreateAppointmentModal()
    {
        var options = new ModalOptions() 
        { 
            Size = ModalSize.Large,
            HideCloseButton = false
        };
        Modal.Show<CreateAppointment>(Loc.GetString(LocalizationType.CreateAppointmentTab).Value, options);
    }

    private void OpenRegisterModal()
    {
        Modal.Show<Register>("Sign up");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
