<EditForm Model="@Data" OnValidSubmit="CreateAsync" class="form">
    <FluentValidationValidator DisableAssemblyScanning=true />
    <ValidationSummary />
    <div class="row">
        <div class="col p-2">
            <FormInputText Label="Название" Id="Name" @bind-Value="@Data.Name" />
            <FormInputNumber Label="Цена" Id="Price" @bind-Value="@Data.Price" />
            <FormInputCheckBox Label="Статус" Id="Status" @bind-Value="@Data.Status" />
            <FormInputSelect Label="Категория" Id="CategoryName" @bind-Value="@Data.CategoryName" Values="@Categories"
                             GetLabelHandler="@(x => x)" GetValueHandler="@(x => x)" />
        </div>
    </div>
    <FormSubmitButton @ref="@SubmitButton" ButtonValue="Create" />
</EditForm>