@page "/specializations/{SpecializationId:guid}/services/{ServiceId:guid}/edit"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent

@if(Data == null)
{
    <Loading/>
}
else
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label=@_localizer.GetString(LocalizationType.Name) Id="Name" @bind-Value="@Data.Name" />
                <FormInputNumber Label=@_localizer.GetString(LocalizationType.Price) Id="Price" @bind-Value="@Data.Price" />
                <FormInputCheckBox Label=@_localizer.GetString(LocalizationType.Status) Id="Status" @bind-Value="@Data.Status" />
                <FormInputSelect Label=@_localizer.GetString(LocalizationType.Category) Id="CategoryName" @bind-Value="@Data.CategoryName" Values="@Categories"
                                GetLabelHandler="@(x => x)" GetValueHandler="@(x => x)" />
            </div>
        </div>
        <Row>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue=@_localizer.GetString(LocalizationType.SaveChangesButtonValue) />
            </Left>
            <Right>
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue=@_localizer.GetString(LocalizationType.DisagreeButtonValue)
                                 QuestionLabel=@_localizer.GetString(LocalizationType.DataWillNotChangesText) />
            </Right>
        </Row>
    </EditForm>
}