@page "/specializations/{SpecializationId:guid}/services/{ServiceId:guid}/edit"
@attribute [Authorize(Roles = "Admin")]
@inherits CancellableComponent

@if(Data == null)
{
    <Loading/>
}
else
{
    <EditForm Model="@Data" OnValidSubmit="EditAsync" class="form">
        <FluentValidationValidator DisableAssemblyScanning=true />
        <ValidationSummary />
        <div class="row">
            <div class="col p-2">
                <FormInputText Label="Name" Id="Name" @bind-Value="@Data.Name" />
                <FormInputNumber Label="Price" Id="Price" @bind-Value="@Data.Price" />
                <FormInputCheckBox Label="Status" Id="Status" @bind-Value="@Data.Status" />
                <FormInputSelect Label="Category" Id="CategoryName" @bind-Value="@Data.CategoryName" Values="@Categories"
                                GetLabelHandler="@(x => x)" GetValueHandler="@(x => x)" />
            </div>
        </div>
        <Row>
            <Left>
                <FormSubmitButton @ref="@SubmitButton" ButtonValue="Save Changes" />
            </Left>
            <Right>
                <DobleQuestionButton OnSuccessAnswerClicked="@Cancel" PreviewButtonValue="Cancel"
                                 QuestionLabel="Do you really want to cancel? Changes will not be saved." />
            </Right>
        </Row>
    </EditForm>
}